<div class="text-center mb-5 mt-5">
    <div class="display-6">Carros</div>
    <div class="mb-5 mt-5"><button (click)="open(CadastrarCarro)" type="button" class="btn btn-outline-dark me-2"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Cadastrar</button></div>
</div>

<div class="d-flex justify-content-center align-items-center border-top">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Data de Validade (anúncio)</th>
                <th scope="col">Imagem</th>
                <th scope="col">Status do Anúncio</th>
                <th scope="col" class="teste">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let carro of carros">
                <td scope="row">{{ carro.id }}</td>
                <td>{{ carro.titulo }}</td>
                <td>{{ carro.descricao }}</td>
                <td>{{ carro.preco | dinheiroMask }}</td>
                <td>{{ carro.validade}}</td>
                <td>{{ carro.img.length > 20 ? carro.img.slice(0, 40) + '...' : carro.img }}</td>
                <td>{{ carro.status }}</td>
                <td>
                    <button (click)="open(EditarCarro)" class="btn btn-outline-primary me-1"
                        (click)="edit(carro)">Editar</button>
                    <button class="btn btn-outline-danger" (click)="delete(carro)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #CadastrarCarro lg-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Cadastrar Carro</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">
                <form [formGroup]="formGroupCarro">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título:</label>
                        <input type="text" formControlName="titulo" class="form-control" id="titulo"
                            placeholder="Nome aqui.">

                        <div *ngIf="submitted && titulo.invalid">
                            <small class="text-danger">Título Invalido! (Minímo 3 Caracteres)</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição:</label>
                        <input type="text" formControlName="descricao" class="form-control" id="descricao"
                            placeholder="Descrição aqui.">

                        <div *ngIf="submitted && descricao.invalid">
                            <small class="text-danger">Descrição Invalido! (Minímo 20 Caracteres)</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="preco" class="form-label">Preço:</label>
                        <input type="text" formControlName="preco" class="form-control" id="preco"
                            placeholder="Preço aqui." [(ngModel)]="valor" (input)="formatarValor($event)">

                        <div *ngIf="submitted && preco.invalid">
                            <small class="text-danger">Preço Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="validade" class="form-label">Validade:</label>
                        <input type="date" formControlName="validade" class="form-control" id="validade"
                            placeholder="Validade aqui.">

                        <div *ngIf="submitted && validade.invalid">
                            <small class="text-danger">Validade Invalida!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">Imagem:</label>
                        <input type="text" formControlName="img" class="form-control" id="img"
                            placeholder="Imagem aqui.">

                        <div *ngIf="submitted && img.invalid">
                            <small class="text-danger">Imagem Invalida!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status:</label>
                        <div class="form-check">
                            <input formControlName="status" name="flexRadioDefault" class="form-check-input"
                                type="radio" id="R1" value="Ativado">
                            <label class="form-check-label" for="R1">
                                Ativado
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="status" name="flexRadioDefault" class="form-check-input"
                                type="radio" id="R2" value="Desativado">
                            <label class="form-check-label" for="R2">
                                Desativado
                            </label>
                        </div>

                        <div *ngIf="submitted && status.invalid">
                            <small class="text-danger">Selecione uma opção!</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>

<ng-template #EditarCarro let-modal>
    <div class="text-center mt-3">
        <h4 class="display-6">Editar Carro</h4>
    </div>
    <div class="modal-body">
        <div class="row modal-footer">
            <div class="col-8 m-auto">
                <form [formGroup]="formGroupCarro">
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Título:</label>
                        <input type="text" formControlName="titulo" class="form-control" id="titulo"
                            placeholder="Nome aqui.">

                        <div *ngIf="submitted && titulo.invalid">
                            <small class="text-danger">Título Invalido! (Minímo 3 Caracteres)</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição:</label>
                        <input type="text" formControlName="descricao" class="form-control" id="descricao"
                            placeholder="Descrição aqui.">

                        <div *ngIf="submitted && descricao.invalid">
                            <small class="text-danger">Descrição Invalido! (Minímo 20 Caracteres)</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="preco" class="form-label">Preço:</label>
                        <input type="text" formControlName="preco" class="form-control" id="preco"
                            placeholder="Preço aqui." [(ngModel)]="valor" (input)="formatarValor($event)">

                        <div *ngIf="submitted && preco.invalid">
                            <small class="text-danger">Preço Invalido!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="validade" class="form-label">Validade:</label>
                        <input type="date" formControlName="validade" class="form-control" id="validade"
                            placeholder="Validade aqui.">

                        <div *ngIf="submitted && validade.invalid">
                            <small class="text-danger">Validade Invalida!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">Imagem:</label>
                        <input type="text" formControlName="img" class="form-control" id="img"
                            placeholder="Imagem aqui.">

                        <div *ngIf="submitted && img.invalid">
                            <small class="text-danger">Imagem Invalida!</small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Status:</label>
                        <div class="form-check">
                            <input formControlName="status" name="flexRadioDefault" class="form-check-input"
                                type="radio" id="R1" value="Ativado">
                            <label class="form-check-label" for="R1">
                                Ativado
                            </label>
                        </div>
                        <div class="form-check">
                            <input formControlName="status" name="flexRadioDefault" class="form-check-input"
                                type="radio" id="R2" value="Desativado">
                            <label class="form-check-label" for="R2">
                                Desativado
                            </label>
                        </div>

                        <div *ngIf="submitted && status.invalid">
                            <small class="text-danger">Selecione uma opção!</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
</ng-template>